@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Bold");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Light");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-SemiBold");
  font-weight: 600;
  font-style: normal;
}
