.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(2rem, 1.266rem + 3.668vi, 4.625rem);
  padding-top: 60px;
  padding-bottom: 90px;
  @media screen and (max-width: 850px) {
    flex-direction: column;
  }
  &-l {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 30px;
    max-width: 600px;
  }
  &__desc {
    margin-bottom: 50px;
    max-width: 562px;
  }
  &__btn {
    align-self: flex-start;
  }
  &-r {
    position: relative;
  }
  &__img--2 {
    border-radius: 5px;
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 691px;
      width: 100%;
      object-fit: contain;
    }
  }
  &__btn {
    @media screen and (max-width: 600px) {
      width: 100%;
      text-align: center;
    }
  }
}
